
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background: #E5E5E5;
  color: #0f0f0f;
}

main {
  flex: 1;
}

.gym-navbar {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  align-items: center;
  padding: 20px;
  background: #EFEFEF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.gym-navbar img {
  height: 75px;
  width: 75px;
  object-fit: cover;
  border-radius: 38%;
}

.gym-nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

.gym-nav a {
  color: rgb(16, 16, 16);
  margin: 0 15px;
  text-decoration: none;
}

.gym-btn {
  width: 140px;
  background: #E5E5E5;
  color: #C43531;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
}


.contact-form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.contact-form textarea {
  min-height: 100px;
  resize: none;
}

.contact-form button {
  background: red;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}


/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #E5E5E5;
  color: black;
  box-shadow: 0 -5px 15px rgba(0,0,0,0.1);
}


@media (max-width: 768px) {
  .gym-navbar {
    flex-direction: column;
    gap: 10px;
  }

  .gym-nav {
    flex-direction: column;
    align-items: center;
  }

  .gym-nav a {
    margin: 5px 0;
  }

  .gym-btn {
    width: 100%;
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .contact-form {
    width: 100%;
    padding: 0 10px;
  }
}